@mixin section2-3-4 {
  display: flex;
  align-items: center;
  padding: 4rem 7rem;
  background-color: bisque;
  height: 70vh;
  border-radius: 10px;
  .box-h1 {
    font-size: 44px;
    line-height: 1;
    position: relative;
  }
  .box-h4 {
    line-height: 4;
  } 
}
@mixin section1-animation {
  animation: moveup 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform-origin: center;
  transform-box: fill-box;
  @keyframes moveup {
   from {transform: translateY(0%);}
   to {transform: translateY(-2%);}
  }
}
@mixin arrow {
  .box-h1 {
    position: relative;
  }
  .box-h1:after {
    content:'->';
    font-size:20px;
    font-weight: 700;
    color:white;
    position:absolute;
    top:.5em;
    right:2em;
    opacity:0;
    transition:all .5s ease-in-out;
  }
  .box-h1:hover:after {
    right:1em;
    opacity:1;
  }
}
